

@media screen and (max-width: 475px) and (min-width:200px) {

    .commentmodal{
        border-radius: 8px !important ;
        width: 50% !important;
        height: 30% !important;
        position: fixed !important;
        left: 10px !important;
        top: 404px !important;
    }
    
    
    
    
    }